<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-signin" action="signUp" method="post" >
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus><br>
        <label for="inputCategoria" class="sr-only">Categoria do produto</label>
        <input type="categoria" name="inputCategoria" id="inputCategoria" class="form-control" placeholder="Categoria produto" required autofocus><br>
        <label for="inputName" class="sr-only">Preço</label>
        <input type="name" name="inputPreco" id="inputPreco" class="form-control" placeholder="Preço" required>
        
        <button id="btnSingup" class="btn btn-lg btn-primary btn-block" type="button">Cadastro</button>
      </form>
</body>
</html>